
  <div class="sidenav">
    <a href="#about">Portal Estudiantes</a>
    <!-- <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#contact">Contact</a> -->

    <button class="dropdown-btn">Inscripcion
      <i class="fa fa-caret-down"></i>
    </button> 
    <div class="dropdown-container">
      <a href="#">Prematricula</a>
      <a href="#">Horario Prematriculado</a>
      <a href="#">Contancia de Inscripcion</a>
    </div>
   
    <button class="dropdown-btn">Informacion Academica
      <i class="fa fa-caret-down"></i>
    </button> 
    <div class="dropdown-container">
      <a href="#">Horario Actual</a>
      <a href="#">Pensum</a>
      <a href="#">Publicacion de Calificaciones</a>
      <a href="#">Record de Notas</a>
    </div>
   
    <button class="dropdown-btn">Informacion Economica
      <i class="fa fa-caret-down"></i>
    </button> 
    <div class="dropdown-container">
      <a href="#">Consulta de Balance</a>
    </div>
   

    <a href="#contact">Search</a>
  </div>

    
